/* The following styles apply to overall HearMeSee application container */
.App {
  text-align: center;
}

/* Style for app logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation style for app logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Style for app header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Style for links within HearMeSee application */
.App-link {
  color: #61dafb;
}

/* Keyframe animation for spinning application logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for video container */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for webcam video */
.webcam-video {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.location-data {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: white;
}

/* Style for the pause button */
.pause-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  padding: 10px;
  font-size: 16px;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

