@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Quicksand&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background: #0c1022;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

#create-acct {
    display: none;
  }

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.subline {
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: -25px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

span {  
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-bottom: -13px;
}

header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.input {
    height: 45px;
    width: 91%;
    border: none;
    outline-color: #fff;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 30px;
    background: rgba(255,255,255,0.1);
    margin-top: 3%;
    margin-bottom: 5px;
}

i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

.submit {
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 98%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    margin-top: 3%;
    transition: 0.3s;
}

.submit:hover{
    box-shadow: 1px 5px 7 1px rgba(237, 231, 231, 0.2);
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
  }
  
.button-container {
    display: flex;
    justify-content: space-between; /* Add space between buttons */
    align-items: flex-start;
  
}
  
#create-acct-btn {
    background-color: #0583D2;
    color: white;
    border: none;
    margin-top: 5%;
    text-align: center;
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 3px; /* Add "px" after the value */
}
  
#return-btn {
    background-color: #0583D2;
    color: white;
    border: none;
    margin-top: 5%;
    margin-left: 2%;
    text-align: center; /* Set to "center" to match #create-acct-btn */
    width: 150px; /* Set the same width as #create-acct-btn */
    height: 30px;
    padding: 5px 10px;
    border-radius: 3px; /* Add "px" after the value */
    margin-left: 1px;
}
  

.left {
    display: flex;
}

label a{
    color: #fff;
    text-decoration: none;
}


.register  {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

.top-header a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
}
